
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

composer.lock

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

*/config/development
*/config/development/*
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

.DS_Store
Thumbs.db
*.bak
*.hg/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/